################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/crowd_management/.vs/crowd_management/FileContentIndex/16fcb946-15a1-46ad-a3f9-2c09a6e9aa04.vsidx
