/*
   File: style.css
   Author: Warre Willeme & Jesse UijtdeHaag
   Date: May 12, 2024
   Description: This file contains the styling for the crowd management application.
*/


.navbar-brand-container {
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-brand-img {
	max-height: 48px !important;
}

.tile-padding {
	padding: 15px;
}

.hide {
	display: none !important;
}

.logbook {
	max-height: 300px;
	overflow: auto;
}

.panel-button-container {
	position: relative;
}

.panel-1-button {
	position: absolute;
	right: 0px;
}

.panel-2-button {
	position: absolute;
	right: 50.5px;
}

.panel-list {
	max-height: 300px;
	overflow: auto;
}

.panel-heading {
	margin-bottom: 0px !important;
}

.fit-tile-content {
	display: inline !important;
}

.ticket-panel-container {
	display: flex;
}

.ticket-dropdown {
	margin-left: auto;
}

.ticket-connect-modal {
	width: 300px;
}

.ticket-barcode-center {
	margin-left: 25%;
}

.panel-selected {
	background-color: whitesmoke;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.page-content {
	flex: 1;
}

.footer {
	position: relative;
	bottom: 0;
	padding: 5px;
	width: 100%;
	text-align: center;
	font-size: 13px;
}

.filter-table {
	padding-top: 0px;
}

.column-disabled {
	opacity: 0.5;
	pointer-events: none;
}

.imageMapContainer {
	position: relative;
	text-align: center;
}

.heatMapZone {
	position: absolute;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.zone-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.panel-button {
	position: absolute;
	right: 10px; /* Adjust the distance from the right side */
	top: 50%;
	transform: translateY(-50%);
}

.report-panel-icon {
	margin-top: 5px;
}

.image-container {
	text-align: center; /* Center the image horizontally */
	margin-bottom: 20px; /* Add some space between image and login fields */
}

	.image-container img {
		width: 200px; /* Adjust the width of the image */
		height: auto; /* Maintain aspect ratio */
	}

.login-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
}

.message-container {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 1000;
	font-family: Arial, sans-serif;
}

.message {
	margin-bottom: 10px;
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s;
	position: relative;
}

	.message.show {
		opacity: 1;
		transform: translateY(0);
	}

.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}

.progress-bar-inner {
	height: 100%;
	width: 100%;
	animation: progress-animation linear;
}

	.progress-bar-inner.alert {
		background-color: hsl(348, 100%, 61%);
	}

	.progress-bar-inner.warning {
		background-color: hsl(48, 100%, 67%);
	}

	.progress-bar-inner.info {
		background-color: hsl(217, 71%, 53%);
	}

@keyframes progress-animation {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}