.navbar-brand-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand-img {
  max-height: 48px !important;
}

.tile-padding {
  padding: 15px;
}

.hide {
  display: none !important;
}

.logbook {
  max-height: 450px;
  overflow: auto;
}

.settings-save-button-container {
  position: relative;
}

.settings-save-button {
  position: absolute;
  right: 0px;
}
